## Ignore project specific files here
## For OS and IDE specific files, use a global gitignore
## See: https://help.github.com/articles/ignoring-files/
scratch
pom.xml
*jar
/lib/
/classes/
/targets/
.lein-deps-sum
.lein-failures
target/
log
.bundle
.vagrant
vendor
.nrepl-port
profiles.clj
dev/user.clj
.lein-repl-history
ext/packaging
checkouts

# Bundler local state files
Gemfile.lock
Gemfile.local
/.bundle/

# Local test runs drop files into junit and tmp
/junit/
/tmp/
