[submodule "ruby/puppet"]
	path = ruby/puppet
	url = https://github.com/puppetlabs/puppet.git
[submodule "ruby/facter"]
	path = ruby/facter
	url = https://github.com/puppetlabs/facter.git
[submodule "ruby/hiera"]
	path = ruby/hiera
	url = https://github.com/puppetlabs/hiera.git
