global: {
    logging-config: ./dev/logback-dev.xml
}

master: {
    allow-header-cert-info: false
}

product: {
    update-server-url: "http://localhost/"
    name: {group-id: puppetlabs.dev
           artifact-id: puppet-server}
}

webserver: {
    access-log-config: ./dev/request-logging-dev.xml
    client-auth: want
    # ssl-host controls what networks the server will accept connections from.
    # The default value below is 'localhost', so will only accept connections from
    # processes on the same operating system instance, e.g. a local puppet agent.
    # To support both local and remote puppet agents, use:
    #ssl-host: 0.0.0.0
    ssl-host: localhost
    ssl-port: 8140
}

# configure the mount points for the web apps
web-router-service: {
    # These two should not be modified because the Puppet 4.x agent expects
    # them to be mounted at these specific paths
    "puppetlabs.services.ca.certificate-authority-service/certificate-authority-service": "/puppet-ca"
    "puppetlabs.services.master.master-service/master-service": {master-routes:       "/puppet"

                                                                 # The following controls 404 errors and should
                                                                 # only be enabled if the legacy routes service is disabled
                                                                 #invalid-in-puppet-4: "/"
                                                                 }
    # This controls the mount point for the puppet admin API.
    "puppetlabs.services.puppet-admin.puppet-admin-service/puppet-admin-service": "/puppet-admin-api"

    # 3.x agent compatibility routes. The legacy routes are only mounted if the
    # puppetlabs.services.legacy-routes.legacy-routes-service/legacy-routes-service
    # service is in the bootstrap.cfg
    "puppetlabs.services.legacy-routes.legacy-routes-service/legacy-routes-service": ""
}

# configuration for the JRuby interpreters
jruby-puppet: {
    # Where the puppet-agent dependency places puppet, facter, etc...
    # Puppet server expects to load Puppet from this location
    ruby-load-path: [./ruby/puppet/lib, ./ruby/facter/lib]

    # This setting determines where JRuby will look for gems.  It is also
    # used by the `puppetserver gem` command line tool.
    gem-home: ./target/jruby-gems

    # (optional) path to puppet conf dir; if not specified, will use the puppet default
    #master-conf-dir: /etc/puppetlabs/puppet

    # (optional) path to puppet code dir; if not specified, will use the puppet default
    #master-code-dir: /etc/puppetlabs/code

    # (optional) path to puppet var dir; if not specified, will use the puppet default
    #master-var-dir: /opt/puppetlabs/server/data/puppetserver

    # (optional) path to puppet run dir; if not specified, will use the puppet default
    #master-run-dir: /var/run/puppetlabs/puppetserver

    # (optional) path to puppet log dir; if not specified, will use the puppet default
    #master-log-dir: /var/log/puppetlabs/puppetserver

    # (optional) maximum number of JRuby instances to allow
    max-active-instances: 1
}

# settings related to HTTP client requests made by Puppet Server
http-client: {
    # A list of acceptable protocols for making HTTP requests
    #ssl-protocols: [TLSv1, TLSv1.1, TLSv1.2]

    # A list of acceptable cipher suites for making HTTP requests
    #cipher-suites: [TLS_RSA_WITH_AES_256_CBC_SHA256,
    #                TLS_RSA_WITH_AES_256_CBC_SHA,
    #                TLS_RSA_WITH_AES_128_CBC_SHA256,
    #                TLS_RSA_WITH_AES_128_CBC_SHA]

    # The amount of time, in milliseconds, that an outbound HTTP connection
    # will wait for data to be available before closing the socket. If not
    # defined, defaults to 20 minutes. If 0, the timeout is infinite and if
    # negative, the value is undefined by the application and governed by the
    # system default behavior.
    #idle-timeout-milliseconds: 1200000

    # The amount of time, in milliseconds, that an outbound HTTP connection will
    # wait to connect before giving up. Defaults to 2 minutes if not set. If 0,
    # the timeout is infinite and if negative, the value is undefined in the
    # application and governed by the system default behavior.
    #connect-timeout-milliseconds: 120000
}

# settings related to profiling the puppet Ruby code
profiler: {
    # enable or disable profiling for the Ruby code; defaults to 'false'.
    enabled: true
}

# CA-related settings
certificate-authority: {

    # settings for the certificate_status HTTP endpoint
    certificate-status: {

        # this setting contains a list of client certnames who are whitelisted to
        # have access to the certificate_status endpoint.  Any requests made to
        # this endpoint that do not present a valid client cert mentioned in
        # this list will be denied access.
        client-whitelist: []
    }
}

# Settings related to the puppet-admin HTTP API
puppet-admin: {
    client-whitelist: [localhost]
}
